body{
  margin: 0;
  padding: 10px 0;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}     

.loader_bg{
  position: fixed;
  z-index: 9999999;
  background: #ffffff;
  width: 100%;
  height: 100%;
  
}
    
.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vh - 75px);
  
}
.loader:before, .loader:after{
  content:'';
  
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 10s linear infinite;
  opacity: 0;
}

.loader:before{
  animation-delay: 0s;
}
@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0
  }

  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}


.mgtitle{
  position: absolute;
  text-align: center;
  font-size: 30pt;
background-size: 200rem;
  top:50%;
  left:20%;
  height: 1000px;
  width:200px;
  animation-duration:1s;
  animation-name:position;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
   
}



.container{
  top:10em;
  max-width: 3600px;
  max-height: 3600px;
  margin:auto;
  background: #f2f2f2;
  overflow:auto;
}

.gallery{
  margin:145px;
  border:145px solid white;
  float:left;
  widows: 490px;
}

.gallery img{
  width:30%;
  height:auto;
  padding: 30px;

}

.desc{
  padding:10px;
  text-align: center;
}

nav {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0 10px;
  margin-bottom: 10px;
}

.logo {
  width: 30%;
}

.links {
  display: flex;
  padding-top: .8em;
  justify-content: space-between;
  width: 70%;
}

.outline0{
  font-size: 30px;
  font-weight: 200;
  color: black;
}

.outline1, .outline2, .outline3, .outline4 {
  color: gray;
}

.outline1{
  font-size: 10px;
  font-weight: 200;
  color: gray;
}
 

      .outline2:hover, .outline3:hover, .outline4:hover, .outline5:hover {
        color: rgb(255, 199, 45);
      }

      .WELCOMEHA {
        position: relative;
        display: inline-block;
        color: aliceblue;
        font-size: 2em;
      }

      .chinese {
        display: flex;
       
        justify-content:center;
        font-family: 'Noto Sans TC', sans-serif;
        color: white;
        position: relative;
        bottom: 47em;
    
        font-size: 28px;
        animation-duration:1s;
        animation-name:color2;
        animation-timing-function: step-end;
        animation-iteration-count: infinite;
        
      }
      @keyframes color2
      {
          0% { margin-bottom: 0px; background-color: white}
        50% { margin-bottom: 200px; background-color: transparent; }
        
      }
      .chinese :hover{
        background-color:white ;
        color: black;
    

      }

      .ending{ 
       
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: gray;
       text-align: right;
       bottom: 10em;
       right:32em;
       position: relative;
        
        font-size: 15px;
        

      }

      .introduce{
        position: relative;
        top: 27em;
        

      }

      .whoiam1{
        display: flex;
       
        justify-content:center;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: gray;
        position: relative;
        bottom: 27em;
        
        font-size: 15px;
        animation-duration:1s;
        animation-name:color;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        
      }
     
      .whoiam2{
        display: flex;
       
        justify-content:center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: gray;
        position: relative;
        bottom: 26.9em;
        
        font-size: 15px;
        animation-duration:1s;
        animation-name:color;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        
      }
     
      .whoiam3{
        display: flex;
       
        justify-content:center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: gray;
        position: relative;
        bottom: 26.8em;
        
        font-size: 15px;
        animation-duration:1s;
        animation-name:color;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        
      }
     
      .whoiam4{
        display: flex;
       
        justify-content:center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        position: relative;
        bottom: 9em;
       
        font-size: 30px;
        animation-duration:1s;
        animation-name:color;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        
      }
    
       h1 {
         text-align: left;
        max-width: 200px;
        
         color:orange;
          font-size: 10px;
          font-weight: 200;
          font-family: 'Montserrat', sans-serif;
          text-align: center;
                   
        }

        h2 {
          display: inline;
          
          font-family: 'Montserrat', sans-serif;
            color: gray;
            font-size: 15px;
            font-weight: 200;
            font-family: 'Montserrat', sans-serif;
          }

        

     
        
       
         .vimeo {
         display: flex;
       
          justify-content:center;
          
         }


        P {
          display: inline-flex;
          color: black;
          font-size: 20px;
          font-family: 'Montserrat', sans-serif;
        }

        body{
          font-family: 'Montserrat', sans-serif;
          color: gray;
          font-size: 20px;
        }

        form {
          font-family: 'Montserrat', sans-serif;
            color: black;
            font-family: 'Montserrat', sans-serif;
            color: black;
            font-size: 10px;
            font-weight: 400;
            text-align: center;
        }
        
        iframe {
          font-family: 'Montserrat', sans-serif;
           color: orange;
        }
        
        .question {
          font-family: 'Montserrat', sans-serif;
        }

        .answer {
          font-family: 'Montserrat', sans-serif;
        }
        .aboutme {
          display: inline;
        }
     .mainimage {
       position: relative;
       width:100%;
    
     }

     .mainimage img {
       max-width: 100%;
       width: 100%;
     }

     
    
     @media only screen and (min-width: 500px) and (max-width: 1200px) {
      
       
      .container {
       
             
      }
         .outline{
           
           font-size: 1.2rem;
             
         }
       
         .chinese{
         
           font-size: 1.2rem;
         }
         .whoiam{
    
           font-size: 1.2rem;
         }
         .h1{
         
           font-size: 1.2rem;
             
         }
         .h2{
           
           font-size: 1.2rem;
             
         }
         .form{
          
           font-size: 1.2rem;
             
         }
         .p{
           height:150px;
           font-size: 1.2rem;
         }

h1 {
  height: 100px;
}
     }
     